<div style="margin:0 1em">
<p>This is a <a href="https://pleroma.social" target="_blank">Pleroma</a> instance, with customizations (
	<a href="https://hacktivis.me/git/pleroma/">pleroma</a>,
	<a href="https://hacktivis.me/git/pleroma-fe/">pleroma-fe</a>,
	<a href="https://hacktivis.me/git/mastofe/">mastofe</a>,
	<a href="https://hacktivis.me/git/auto_linker/">auto_linker</a>,
	<a href="https://hacktivis.me/git/queer.hacktivis.me-meta/">queer.hacktivis.me-meta</a>
)</p>
<ul>
	<li><a href="/main/all">Pleroma Frontend</a></li>
	<li><a href="/web/">Mastodon Frontend</a></li>
</ul>
</div>
