<p>Registering on this instance means acceptance of the Privacy Policy and Rules.</p>
<p>This server is located in Bretagne, France and is hosted by <a href="https://hacktivis.me/about">Haelwenn (lanodan) Monnier</a>, which will be now referred to by “I, me, myself”.</p>

<h2>Changelog</h2>
<p>This page is versionised under git, in the following repositories: <a href="https://hacktivis.me/git/queer.hacktivis.me-meta/" rel="vcs-git">hacktivis.me:/git/queer.hacktivis.me-meta.git</a>, <a href="https://gitlab.com/lanodan/queer.hacktivis.me-meta/" rel="vcs-git">gitlab.com:/lanodan/queer.hacktivis.me-meta.git</a>. Go to one of the repository links for a changelog, a <a rel="alternate" type="application/atom+xml" title="Queer Hacktivism’s Policy Atom Feed" href="https://hacktivis.me/git/queer.hacktivis.me-meta/atom.xml">atom feed of the changes</a> is also available.</p>

<h2>Privacy Policy</h2>
<p>Your data is stored on encrypted storage(LUKS), and is publicly available and sent unless you have changed your visibility settings. Also the Public and Federated timelines aren’t visible to non-authentificated people to avoid basic web-robots easily scanning the whole instance.</p>
<p>I highly recommend reading: <a href="https://blog.soykaf.com/post/privacy-and-tracking-on-the-fediverse/">Privacy and Tracking on the Fediverse</a> by Lain</p>
<p>⚠ the following is a work in progress and should only be considered for indication ⚠</p>
<p>Browser-side storage in pleroma-fe:<ul>
<li><code>_pleroma_key</code>: Session cookie added when you authentify yourself</li>
<li>Indexed DataBase: stores your frontend config and last seen status id in notifications</li>
</ul></p>
<p>Browser-side Storage in mastofe:<ul>
<li><code>_pleroma_key</code>: Session cookie added when you authentify yourself</li>
<li>Service Workers: Used for sending Web Notifications</li>
<li>Indexed DataBase: stores your frontend config (glitch-soc)</li>
</ul></p>
<p>Extra server-side storage for mastofe:<ul>
<li><code>PUT /api/web/settings</code>: Stores a JSON object, contains stuff like columns config, you can see it into <code>initial_state</code>. (undocumented usage)</li>
</ul><p>
<p>⚠ end of Work in Progress ⚠</p>

<h2>Policy and Etiquette</h2>
<p><strong>Warning</strong>: Access to this service is a privilege not a right.</p>
<ul>
	<li>The following kind of actions are banned: Spam/Harassement and anti-privacy acts (for example doxing)</li>
	<li>Abolition of violence and hate is a goal that is to be pursued. Pro-actively working against it will result in bans.</li>
	<li>Nudity and/or sexual as well as violent images must be tagged sensitive, tagging meat as such is also appreciated. Tagging reason should be included in the bottom of the post.</li>
	<li>Content Warning aka. Subject field should readily (no abbreviations) present their content, specially sensitive ones. Using hashtags as an alternative is fully accepted.</li>
	<li>While discussion of sexualities and attractions is encouraged, underage people shouldn't sexually interact with overage ones and vice-versa; Instances openly allowing this behavior will have their posts rejected.</li>
	<li>The <a rel="external nofollow noreferrer" href="https://www.legifrance.gouv.fr/">laws of France</a> (translations are available) are relevant for this instance, yet it will not act as an extra police force nor an extension of it.</li>
</ul>
<h3>Enforcement</h3>
<p>Trying to reach the concerned parties will be done in case of doubts. Solutions avoiding local enforcement will be tried if they are possible.</p>
<p>This instance will also try to avoid blocking too much parties, we should have enough flexibility in the moderation tools to avoid collateral/extra damage. If not that will try to be fixed.</p>
<p>Instances should of course have external contact methods in an open-standard (XMPP, Email, …) to be able to resolve issues (including purely technical ones).</p>

<h2>Federation Settings Reasons</h2>
<h3>Rejected keywords</h3>
<ul>
	<li><code>://womenarestupid.site/</code>,<code>WomenAreStupid</code>: Website link spammed in mentions from multiple accounts, with racist and sexist content both in the messages and in the website, <a href="https://queer.hacktivis.me/notice/9hIa4neYnObwAj4P4q">could have been (or ended up as) a Proof of Concept against Mastodon</a></li>
	<li><code>://levmblog.blogspot.com</code>: Repeated spam in mentions from multiple accounts</li>
	<li><code>megastar21.com</code>,<code>bestmegastar.com</code>: <a href="https://queer.hacktivis.me/notice/9jqW8UBQVdn01EkaNE">Repeated spam</a> in mentions from one account (so far)</li>
</ul>

<h2>Federation Settings of other instances</h2>
<h3>Rejected by</h3>
<ul>
	<li><code>rage.love</code>: No explaination whatsoever about it, never got a contact from them, gigantic block list (consider doing an accept-list, lol)</li>
	<li><code>elekk.xyz</code>: Probably linked to <a href="https://queer.hacktivis.me/notice/9yETvT7UUdftm5fijY">me loosely defending Husky from a call to abuse</a> by <a href="http://web.archive.org/web/20201120232232if_/https://elekk.xyz/@magicalmilly/104915612071812355">known abuser mavica</a> being butthurt about it: <br />
	<blockquote>
		CW/Subject: miscourse, block recommendation<br />
		queer.hacktivis.me for supporting the fash app and screenshotting mastodon users for not<br />
<br />
		also "SJWs"<br />
		<a href="https://queer.hacktivis.me/notice/9yETvT7UUdftm5fijY">queer.hacktivis.me/notice/9yET</a>…<br />
		<a href="https://queer.hacktivis.me/notice/9yEBrDZeYGf7E8fTii">queer.hacktivis.me/notice/9yEB</a>…
	</blockquote> — <cite><a href="https://computerfairi.es/users/mavica/statuses/104711057433106846">mavica@computerfairi.es 2020-08-18T15:18:57Z</a></cite> (dead URL)
	</li>
</ul>

<h2>Credits</h2>
<p>Background by <a href="https://kirakiratter.com/users/laura">laura@kirakiratter.com</a>.</p>
<h3>Custom emojis</h3>
<ul>
	<li><code>blob_*</code> are based on a previous version of Noto Emoji by Google®</li>
	<li><code>flan_*</code> are from <a href="https://bsd.network/users/pamela">pamela@bsd.network</a> (<a href="https://www.patreon.com/flan_foundry">Patreon</a>)</li>
	<li><code>Blobhaj*</code> by <cite>Heatherhorns</cite> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a></li>
</ul>
